<!-- ================
        HEADING
     ================ -->

<section id="content">
  <h1>Welcome to Git Racer</h1>
</section>


<!-- ================
        MAIN IMAGE
     ================ -->

  <section id="octocat">
    <img src="/images/cat2.png">
  </section>


<!-- =====================
          SIGN IN FORM
     ===================== -->


<form class="sign-in">
  <input id="githubUsername" name="username" type="text" class="username_input" placeholder="GitHub Username..." />
  <a href='#' id="sign-in-button">RACE!!!</a>
  <p class="error"></p>
</form>


<!-- ================
        BAR FILLER
     ================ -->
<section class="bars">
  <div id="bar1" class="barfiller">
        <div class="tipWrap">
          <span class="tip"></span>
        </div>
          <span class="fill" data-percentage="0"></span>
  </div>

   <!--  <div id="bar2" class="barfiller">
        <div class="tipWrap">
      <span class="tip"></span>
        </div>
        <span class="fill" data-percentage="0"></span>
    </div>

    <div id="bar3" class="barfiller">
        <div class="tipWrap">
      <span class="tip"></span>
        </div>
        <span class="fill" data-percentage="0"></span>
    </div>

    <div id="bar4" class="barfiller">
        <div class="tipWrap">
      <span class="tip"></span>
        </div>
        <span class="fill" data-percentage="0"></span>
    </div>
  </div> -->
</section>