<h1>Welcome to Git Racer</h1>
<!-- <section>
  <input type='text' id='profile_name' placeholder='Enter your github username' onfocus="if(this.value!=='Enter your github username')this.value=''"/>
  <a href='#' id='fetch_github_profile'>Start</a>
  <p id='error_missing_field'> </p>
</section> -->

<section class="form">
  <div id="wrapper">

  <form name="login-form" class="login-form" action="" method="post">

    <div class="header">
    <h1>GitRacer Login</h1>
    <span>Fill in your GitHub Username below to begin your GitRacer Journey.</span>
    </div>

    <div class="content">
    <input name="username" type="text" class="input username" placeholder="Github Username......" />
    <div class="user-icon"></div>

    <div class="pass-icon"></div>
    </div>
    <div class="footer">
    <input type="submit" name="submit" value="Race!!" class="button" />

    </div>

  </form>

</div>
<div class="gradient"></div>

</section>





 <script type='text/javascript'>
//   $('#fetch_github_profile').on('click', function(){
//     if ($('#profile_name').val() == ''){
//       $('#error_missing_field').html('You have to enter a username');
//     }

//   });

// </script>