
<!-- <h2>Welcome to Git Racer</h2> -->

<!-- <div id="animated-example" class="animated fadeInDownBig">
  <h1>Welcome to Git Racer</h1>
</div> -->



<section id="content">
  <h1>Welcome to Git Racer</h1>
</section>

  <section id="octocat">
    <img src="/images/cat2.png">
  </section>






<script>
$(document).ready(function() {

  $('#content h1').fadeIn(3000);

});
</script>
