<!doctype html>
<html lang='en'>
  <head>
    <title>Git racer</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="css/application.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Contrail+One|Fugaz+One|Russo+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src="js/jquery.barfiller.js" type="text/javascript"></script>
    <script src="js/interface.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost');

      $(document).ready(function() {
      $('#sign-in-button').on('click', function(event) {
        event.preventDefault();
        socket.emit('validate user', $('#githubUsername').val());
        $('#githubUsername').val('');
        // return false;
      });


      socket.on('validate result', function(isUserValid){
        console.log('is user valid ' + isUserValid)
        if (isUserValid){
            socket.on('commits', function(commits){
              console.log('commits: ' + commits)
               $('.sign-in').fadeOut(1500, function() {
                $('#bar1').delay(350).fadeIn();
                  $('section div span').attr('data-percentage', commits);
                    $(this).find('section div span').animate({
                         width:$(this).attr('data-percentage')
                          },6000);
 
            });
        });
    }
        else {
          $('.error').html('Invalid Github Profile');
        }
      });
    });

    </script> 
    <%- body %>
  </body>
</html>