<!doctype html>
<html lang='en'>
  <head>
    <title>Git racer</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="css/application.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Contrail+One|Fugaz+One|Russo+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='https://code.jquery.com/ui/1.11.2/jquery-ui.min.js'></script>
    <script src='js/handlebars.js'></script>
    <script src="js/jquery.barfiller.js" type="text/javascript"></script>
    <script src="js/interface.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

    $(document).ready(function() {
      var arrayOfUsers = [];
      $('#barfiller').progressbar({value: 0});
      $('#sign-in-button').on('click', function(event) {
        $("body").css("cursor", "progress");
        $("#sign-in-button").css("cursor", "progress");
        event.preventDefault();
        socket.emit('validate user', $('#githubUsername').val());
      });

      socket.on('validate result', function(isUserValid){
        if (isUserValid){
          drawRacer($('#githubUsername').val());
          arrayOfUsers.push($('#githubUsername').val());
          socket.on('commits', function(data){
            commits = data['commits'];
            username = data['username'];
            if($.inArray(username, arrayOfUsers) == -1) {
              drawRacer(username);
              arrayOfUsers.push(username);
            }
            $('.sign-in').fadeOut(200, function() {
              $("body").css("cursor", "default");
              $('#meter_' + username).attr('value', commits);
              $('#meter_' + username).delay(200).fadeIn();
              $('#username_' + username).text(username);
              $('#commits_'+ username).text('Commits Today: ' + commits + '/25')
            });
          });
       }
       else {
          $("#sign-in-button").css("cursor", "default");
          $("body").css("cursor", "default");
          $('.error').html('Invalid Github Profile');
        }
    });

    function drawRacer(username){
      var data = {'username': username};
      var source = $('#template_meter').html();
      var template = Handlebars.compile(source);
      $('.bars').append(template(data));
    }
  });
    
    </script>
    <%- body %>
  </body>
</html>