<section class="form">
  <div id="wrapper">

  <form name="login-form" class="login-form" action="" method="post">

    <div class="header">
    <h1>GitRacer Login</h1>
    <span>Fill in your GitHub Username below to begin your GitRacer Journey.</span>
    </div>

    <div class="content">
    <input name="username" type="text" class="input username" placeholder="Github Username......" />
    <div class="user-icon"></div>

    <div class="pass-icon"></div>
    </div>
    <div class="footer">
    <input type="submit" name="submit" value="Race!!" class="button" />

    </div>

  </form>

</div>
<div class="gradient"></div>

</section>
